/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 19, ../../app/stylesheets/screen.scss */
body {
  font-family: 'Helvetica Neue', 'Arial';
}
/* line 22, ../../app/stylesheets/screen.scss */
body section, body article, body header {
  display: block;
}
/* line 24, ../../app/stylesheets/screen.scss */
body .alert {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
  margin-top: 10px;
}
/* line 29, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .alert a {
  color: #8a1f11;
}
/* line 25, ../../app/stylesheets/screen.scss */
body .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
  margin-top: 10px;
}
/* line 45, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice a {
  color: #264409;
}
/* line 27, ../../app/stylesheets/screen.scss */
body header {
  background: #333;
  height: 39px;
}
/* line 30, ../../app/stylesheets/screen.scss */
body header h1 {
  color: #eee;
  font-size: 26px;
  font-weight: bold;
  padding: 6px;
  padding-left: 16px;
  float: left;
}
/* line 37, ../../app/stylesheets/screen.scss */
body header h1 a {
  color: #eee;
  text-decoration: none;
}
/* line 39, ../../app/stylesheets/screen.scss */
body header ul {
  float: right;
  margin-top: 10px;
}
/* line 42, ../../app/stylesheets/screen.scss */
body header ul li {
  display: inline;
}
/* line 44, ../../app/stylesheets/screen.scss */
body header ul li a {
  text-decoration: none;
  color: #eee;
  padding: 0px 20px;
  margin: 0;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}
/* line 53, ../../app/stylesheets/screen.scss */
body header ul li:last-child a {
  border-right: none;
}
/* line 54, ../../app/stylesheets/screen.scss */
body header ul li:first-child a {
  border-left: none;
}
/* line 58, ../../app/stylesheets/screen.scss */
body nav#social_media {
  float: right;
  margin: 3px;
}
/* line 63, ../../app/stylesheets/screen.scss */
body section#content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  color: #333333;
  font-size: 13px;
}
/* line 69, ../../app/stylesheets/screen.scss */
body section#content h1 {
  font-size: 26px;
  margin: 15px 0;
}
/* line 70, ../../app/stylesheets/screen.scss */
body section#content h2 {
  font-size: 21px;
}
/* line 72, ../../app/stylesheets/screen.scss */
body section#content h2 a {
  color: black;
  text-decoration: none;
}
/* line 73, ../../app/stylesheets/screen.scss */
body section#content h2 a:hover {
  color: #333333;
}
/* line 76, ../../app/stylesheets/screen.scss */
body section#content header {
  background: none;
}
/* line 80, ../../app/stylesheets/screen.scss */
body section#content article {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin: 20px 0 20px 0;
  line-height: 22px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body section#content article {
  overflow-x: hidden;
}
/* line 85, ../../app/stylesheets/screen.scss */
body section#content article h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
/* line 86, ../../app/stylesheets/screen.scss */
body section#content article header {
  margin: 0 0 10px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
  height: auto;
}
/* line 92, ../../app/stylesheets/screen.scss */
body section#content article header.post {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 930px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body section#content article header.post {
  overflow-x: hidden;
}
/* line 94, ../../app/stylesheets/screen.scss */
body section#content article header.post h2 {
  padding-left: 180px;
}
/* line 96, ../../app/stylesheets/screen.scss */
body section#content article h3 {
  margin: 14px 0px;
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}
/* line 102, ../../app/stylesheets/screen.scss */
body section#content article section.article_body {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 750px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body section#content article section.article_body {
  overflow-x: hidden;
}
/* line 104, ../../app/stylesheets/screen.scss */
body section#content article section.article_body p {
  margin-bottom: 12px;
}
/* line 105, ../../app/stylesheets/screen.scss */
body section#content article section.article_body blockquote {
  display: inline-block;
  border-left: 7px solid #DCEEEE;
  padding-left: 1em;
  margin: 1em;
}
/* line 111, ../../app/stylesheets/screen.scss */
body section#content article section.article_body ul {
  list-style: disc;
  margin: 10px 0 10px 0;
}
/* line 114, ../../app/stylesheets/screen.scss */
body section#content article section.article_body ul li {
  margin-left: 30px;
}
/* line 119, ../../app/stylesheets/screen.scss */
body section#content article dl {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  font-size: 11px;
  margin-right: 30px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body section#content article dl {
  overflow-x: hidden;
}
/* line 124, ../../app/stylesheets/screen.scss */
body section#content article dl dt {
  font-weight: bold;
  color: #666666;
  float: left;
  clear: both;
  width: 70px;
}
/* line 125, ../../app/stylesheets/screen.scss */
body section#content article dl dd {
  color: #888888;
  padding-left: 10px;
  float: left;
}
/* line 126, ../../app/stylesheets/screen.scss */
body section#content article dl a {
  text-decoration: none;
  color: #888888;
}
/* line 127, ../../app/stylesheets/screen.scss */
body section#content article dl a:hover {
  text-decoration: underline;
  color: black;
}
/* line 130, ../../app/stylesheets/screen.scss */
body section#content article.about, body section#content article.contact {
  margin-bottom: 0;
}
/* line 132, ../../app/stylesheets/screen.scss */
body section#content article.about a, body section#content article.contact a {
  color: #0066cc;
  text-decoration: none;
}
/* line 133, ../../app/stylesheets/screen.scss */
body section#content article.about a:hover, body section#content article.contact a:hover {
  color: red;
  text-decoration: none;
}
/* line 134, ../../app/stylesheets/screen.scss */
body section#content article.about header, body section#content article.contact header {
  display: inline;
  float: right;
  position: relative;
  margin: 0 -120px 1.5em 120px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 710px;
  margin-bottom: 10px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body section#content article.about header, * html body section#content article.contact header {
  overflow-x: hidden;
}
/* line 139, ../../app/stylesheets/screen.scss */
body section#content article.about section, body section#content article.contact section {
  display: inline;
  float: right;
  position: relative;
  margin: 0 -120px 1.5em 120px;
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
  font-size: 13px;
  color: #333333;
}
/* line 139, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body section#content article.about section, * html body section#content article.contact section {
  overflow-x: hidden;
}
/* line 146, ../../app/stylesheets/screen.scss */
body section#content article.about section p, body section#content article.contact section p {
  margin: 5px 0px;
}
/* line 148, ../../app/stylesheets/screen.scss */
body section#content article.about dl, body section#content article.contact dl {
  font-size: 13px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.8.7-p248/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body section#content article.about dl, * html body section#content article.contact dl {
  overflow-x: hidden;
}
/* line 151, ../../app/stylesheets/screen.scss */
body section#content article.about dl dt, body section#content article.contact dl dt {
  color: #333333;
}
/* line 153, ../../app/stylesheets/screen.scss */
body section#content article.about dl a, body section#content article.contact dl a {
  text-decoration: none;
  color: #555555;
}
/* line 154, ../../app/stylesheets/screen.scss */
body section#content article.about dl a:hover, body section#content article.contact dl a:hover {
  text-decoration: underline;
  color: black;
}

/* DISCUS */
/* line 164, ../../app/stylesheets/screen.scss */
div#disqus_thread #dsq-content .dsq-options {
  display: none;
}
