/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "blueprint";
@import "blueprint/typography";
@import "blueprint/interaction";
@import "blueprint/grid";

$strong: #000;
$normal: #333;
$weak: #888;

$link: #06C;
$link-hover: #F00;

body {
	font-family: 'Helvetica Neue', 'Arial';
	
	section, article, header { display: block; }
	
	.alert { @include error; margin-top: 10px; }
	.notice { @include success; margin-top: 10px; }
	
	header {
		background: #333;
		height: 39px;
		h1 {
			color: #eee;
			font-size: 26px;
			font-weight: bold;
			padding: 6px;
			padding-left: 16px;
			float: left;
			a { color: #eee; text-decoration: none; }
		}
		ul {
			float: right;
			margin-top: 10px;
			li {
				display: inline;
				a {
					text-decoration: none;
					color: #eee;
					padding: 0px 20px;
					margin: 0;
					border-left: 1px solid #444;
					border-right: 1px solid #444;					
				}
			}
			li:last-child a {	border-right: none;	}
			li:first-child a { border-left: none; }
		}
	}
	
	nav#social_media {
		float: right;
		margin: 3px;
	}
	
	section#content {
		@include container;
		
		color: $normal;
		font-size: 13px;
		
		h1 { font-size: 26px; margin: 15px 0; }
		h2 {
			font-size: 21px;
			a { color: $strong; text-decoration: none; }
			a:hover { color: $normal;}
		}
		
		header {
			background: none;
		}
		
		article {
			@include column(24);
			margin: 20px 0 20px 0;
			line-height: 22px;

			h1 { font-size: 30px;  margin-bottom: 20px;}
			header {
				margin: 0 0 10px 0;
				padding-bottom: 10px;
				border-bottom: 2px solid #ddd;
				height: auto;			
			}
			header.post {
				@include column(23.5);
				h2 { @include prepend(4.5); } 
			}
			h3 {
				margin: 14px 0px;
				font-weight: bold;
				font-size: 14px;
				color: $normal;
			}
			section.article_body {
				@include column(19);
				p { margin-bottom: 12px; }
				blockquote {
					display: inline-block;
					border-left: 7px solid #DCEEEE;
					padding-left: 1em;
					margin: 1em;
				}
				ul {
					list-style: disc;
					margin: 10px 0 10px 0;
					li {
						margin-left: 30px;
					}
				}
				a { color: $link;}
				a:hover { color: $link_hover; }
			}
			dl {
				@include column(4);
				font-size: 11px;
				margin-right: 30px;
				
				dt { font-weight: bold; color: $normal + #333; float: left; clear: both; width: 70px;}
				dd { color: $weak; padding-left: 10px; float: left;}
				a { text-decoration: none; color: $weak; }
				a:hover { text-decoration: underline; color: $strong; }
			}
		}
		article.about, article.contact {
			margin-bottom: 0;
			header {
				@include push(3);
				@include column(18);
				margin-bottom: 10px;
			}
			section {
				@include push(3);
				@include prepend(1);
				@include column(16);

				font-size: 13px;
				color: $normal;
				p { margin-top: 10px; }
			}
			dl {
				font-size: 13px;
				@include column(16);
				dt { color: $normal; }
				dd { }
				a { text-decoration: none; color: $normal + #222; }
				a:hover { text-decoration: underline; color: $strong; }
			}
		}
	}
}

/* DISCUS */

div#disqus_thread {
	#dsq-content {
		.dsq-options {
			display: none;
		}
	}
}