%article.about
  %header
    %h2 about
  %section
    %p I first met the iPad at the Apple store within Sydney International Airport, his face disfigured by the fingerprints of a million travellers. I didn’t help his situation much, as I poked and prodded, exploring his applications and sliding through the screens for no apparent reason. From that experience I decided that next time I came through I would claim one for myself. I have not regretted that yet.

    %p Let’s get a couple of
    
%article.about
  %header
    %h2 education
  %section
    %p I first met the iPad at the Apple store within Sydney International Airport, his face disfigured by the fingerprints of a million travellers. I didn’t help his situation much, as I poked and prodded, exploring his applications and sliding through the screens for no apparent reason. From that experience I decided that next time I came through I would claim one for myself. I have not regretted that yet.

    %p Let’s get a couple of
    
    
%article.about
  %header
    %h2 work
  %section
    %p I first met the iPad at the Apple store within Sydney International Airport, his face disfigured by the fingerprints of a million travellers. I didn’t help his situation much, as I poked and prodded, exploring his applications and sliding through the screens for no apparent reason. From that experience I decided that next time I came through I would claim one for myself. I have not regretted that yet.

    %p Let’s get a couple of
    
    
%article.about
  %header
    %h2 education
  %section
    %p I first met the iPad at the Apple store within Sydney International Airport, his face disfigured by the fingerprints of a million travellers. I didn’t help his situation much, as I poked and prodded, exploring his applications and sliding through the screens for no apparent reason. From that experience I decided that next time I came through I would claim one for myself. I have not regretted that yet.

    %p Let’s get a couple of