%article.about
  %header
    %h2 about
  %section
    %p I am a Ruby on Rails Developer based in Canberra, Australia with experience developing software in C, C++, Visual Basic, Java, PHP, and Python. I've been developing with rails for over 2 years now, and enjoy it greatly. I have tried to get involved in the RoR community, assisting people on Rails IRC channels and helping with organisation of the Canberra #{link_to 'Rails Camp', "http://railscamps.com"} in April 2010. I am also a regular attendee of #{link_to "Canberra Ruby Crew", "http://canberraruby.com/"} meets.
    
%article.about
  %header
    %h2 education
  %section
    %p I completed my Diploma of Software Development at Canberra Institute of Technology in June 2009 and intend to start soon at the University of Canberra, studying Software Engineering. 
    %p I also have some networking experience through Cisco's CCNA course, which I undertook in 2005.
    
    
%article.about
  %header
    %h2 work
  %section
    %p At the end of my studies at Canberra Institute of Technology (CIT), based on my performance in the course I was offered a teaching position to teach Ruby on Rails to students. I taught there for just over a year, extending my own knowledge while passing it on to others.
    %p Currently I am employed at the Australian Medical Council in Canberra. I work with a great team and get to exercise latest technologies, which makes it overall a very enjoyable workplace.
    
%article.contact
  %header
    %h2 contact me
  %section
    %dl
      %dt twitter
      %dd= link_to '@modsognir', "http://twitter.com/modsognir"
      %dt email
      %dd= link_to 'j.fraser@modsognir.com', "mailto:j.fraser@modsognir.com"
      %dt phone
      %dd +61 420907718
