%h1 Under Construction
%p The old version was an utter mess. I am currently updating this server with a brand new design. Thanks for coming anyway, you can check in a few hours later if you feel like it.